nav {
    margin: 0;
    padding: 0;
    background-image: url('../../Resources/background_navbar.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;

}

.navbar_pantry {
    margin: 0;
    padding: 0;
    background-image: url('../../Resources/navbar_pantry.png');
    background-repeat: no-repeat;
    height: 80vh;
}