


:root {
  /* colors */
  --primary-50: #B7B7B7;
  --primary-100: #bef8fd;
  

  /* colors cards */
  --card-recipe: #E2BD5B;
  --card-pantry: #111E55;

  /* button cards */
  --add-ingredient: #00B260;
  --add-recipe: #E2BD5B;

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Proxima Nova', Sans-Serif;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--primary-50);

}

body {
  /* background: var(--backgroundColor); */
  font-family: var(--bodyFont)!important;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor)!important;
}